<form [formGroup]="form">
    <div class="form-group">
        <label for="old">Old password
            <input required formControlName="old" name="old" id="old" type="text" class="form-control">
        </label>
        <div class="alert alert-danger" *ngIf="old?.touched && old?.invalid">
            <div *ngIf="old?.errors?.['required']">Old password is required</div>
            <div *ngIf="old?.errors?.['incorrect']">Old password is incorrect</div>
        </div>
    </div>
    <div class="form-group">
        <label for="new">New password
            <input required formControlName="newp" id="new" name="new" type="text" class="form-control">
        </label>
        <div class="alert alert-danger" *ngIf="newp?.touched && newp?.invalid">
            <div *ngIf="newp?.errors?.['required']">New password is required</div>
        </div>
        <br>
        <label for="confirm">Confirm password
            <input required formControlName="confirm" id="confirm" name="confirm" type="text" class="form-control">
        </label>
        <div class="alert alert-danger" *ngIf="confirm?.touched && confirm?.invalid">
            <div *ngIf="confirm?.errors?.['required']">Confirm your password</div>
        </div>
        <div class="alert alert-danger" *ngIf="form.invalid && form?.errors?.['shouldMatch']">Passwords dont match</div>
    </div>
    <br>
    <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>